* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.container{
    box-shadow: 0 0 7px #111;
    margin: 0 30px;
}

img{
    width: 350px;
    height: 350px;
}

.carrito {
    width: 30px;
    height: 30px;
}

.informacion{
    height: 80px;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}
.contenido{
    text-align: center;
    font-family: sans-serif;
    color: #555;
}

.precio1{
    text-decoration: red line-through;
    color: red;
}

.precio2{
    font-size: 1.5em;
    font-weight: 700;
}

.precio{
    height: 50px;
    margin: 10px 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-prexio{
    width: 80px;
}
.precio1{
}