<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ad.css">
    
    <title>Document</title>
</head>
<body>
    

    <form action="/addRestaurante" method="POST">
        <p>nombre <input type="text" name="rest_descripcion"></p>
        <input type="submit" value="Agregar Restaurante">
    </form>
</body>
</html>