<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="all" />
    <meta name="googlebot" content="all" />

    <title>FLASHI</title>
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/cd/cd/8d/cdcd8d2b4c87df4eb940083eac793cb3.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <link href="https://fonts.cdnfonts.com/css/elinga" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <link href='https://copyfonts.com/fonts/attari-salees.html'>
    </link>
    <link rel="stylesheet" href="css/styles.css" />

</head>

<body>
    
 <!---Bara Superior--->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="z-index: 11">
        <div class="container">
            <ul class="px-0 mx-0">
                <img src="https://i.pinimg.com/originals/cd/cd/8d/cdcd8d2b4c87df4eb940083eac793cb3.png" style="height: 62px; width: 62px">
            </ul>
            <a class="navbar-brand" href="#" style="font-size :56px;font-family: elinga;">FLASHI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link px-3" href="#">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4" href="#categorySection">Locales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4" href="#footer">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--Fin de la barra superior-->
    <a id="scrollToTop" class="btn"><i class="fas fa-caret-up"></i></a>

<!---HOME ENVIOS A TODO EL PAIS -->
    <div class="container" style="height: 100vh; width: 132vw; display: flex; justify-content: center">
        <section id="homeSection" class="d-flex justify-content-center">
            <div class="row homeRow">
                <div class="col-lg-6 homeTxtCol">
                    <h1 class="homeHeading">
                        Envios a<br />
                        <span data-text="TODO">TODO</span>
                        <br /> el pais
                    </h1>
                    <br />


                    <!---boton de ordene ahora -->


                    <div class="homeBtnDiv">
                        <a href="#categorySection" class="btn homeBtn">Ordene Ahora</a>
                    </div>
                </div>
                     <!---boton de ordene ahora FIN -->

                    <!---Hamburguesa GIGANTE-->

                <div class="col-lg-6 homeImgCol">
                    <img class="homeImg" src="https://thumbs.dreamstime.com/b/hamburguesa-hamburguesa-o-cheeseburger-grande-aislado-en-un-fondo-negro-de-la-pizarra-mano-realista-del-estilo-de-la-historieta-94854858.jpg" alt="Burguer" />
                </div>
            </div>
        </section>
    </div>

<!---FIN HOME ENVIOS A TODO EL PAIS -->

    <br />

<!---Locales-->
    <section id="categorySection">
        <div class="container">
            <h1 style="text-align: center; margin: 50px auto">
                <span style="
              font-size: 4.5rem;
              border: 1px solid #a8763e;
              background-color: white;
              color: #6f1a07;
              padding: 1px 5px;
              font-family: 'Roboto';
            "><b>Locales</b></span>
            </h1>
            <!--- MCDONALD-->

            <div class="row gutters-40">
                <div class="col-lg-4 col-sm-4 col-4">
                    <div class="product-box-layout4 momos">
                        <div class="item-figure">
                            <img src="https://assets.stickpng.com/images/584298b4a6515b1e0ad75adb.png" alt="Category" style="width: 100%; height: 100%" />
                        </div>
                        <div class="item-content">
                            <h2 class="card-title">McDonalds</h2>
                        </div>
                    </div>
                </div>
                        <!--- BURGER-->

                <div class="col-lg-4 col-sm-4 col-4">
                    <div class="product-box-layout4 chinese">
                        <div class="item-figure">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Burger_King_logo_%281999%29.svg/2024px-Burger_King_logo_%281999%29.svg.png" alt="Category" style="width: 100%; height: 100%" />
                        </div>
                        <div class="item-content">
                            <h2 class="card-title">Burguer King</h2>
                        </div>
                    </div>
                </div>
                                        <!---FIN  BURGER-->


                        <!---CARTA KFC-->

        <div class="col-lg-4 col-sm-4 col-4">
          <div class="product-box-layout4 beverages">
            <div class="item-figure">
              <img src="https://i.pinimg.com/originals/ee/fd/cf/eefdcf8f23c277bfac155152c6ab3a20.jpg" alt="Category" style="width: 100%; height: 100%" />
            </div>
            <div class="item-content">
              <h2 class="card-title">KFC</h2>

               
                        </div>
                    </div>
                </div>

            </div>
                                    <!---FIN DE  KFC-->


                        <!---MENU DE COMIDAS-->

            <div class="menuDiv">
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Carta</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                            </div>

                            
                        <!---CHECK DE SELECCIONE MENU-->

                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row paymentInfoRow">
                                        <div class="col paymentInfo">
                                            <span class="checkIcon" ><i class="fas fa-check-circle"></i></span> Seleccione el menu
                                        </div>
                                        <div class="col paymentInfo">
                                                    <!--- ICONO WPP Y SU ORDEN SE TOMA POR WHATSAPP-->

                                            <span class="checkIcon"  ><i class="fa-brands fa-whatsapp"></i></span> Su orden se tomara por Whatsapp
                                        </div>
                                        <div class="col paymentInfo">
                                            <span class="checkIcon"><i class="fa-brands fa-google-pay"></i>

                        <!---MODOS DE PAGO-->

                                            </span> Paga en efectivo o por MercadoPago
                                        </div>
                                    </div>

                                    <hr style="color: black; width: 90%; margin: 15px auto" />

                        <!---AVISO CARRITO VACIO-->

                                    <div class="cartContentDiv">
                                        <h1>Tu carrito esta vacio</h1>
                                    </div>
                        
                        <!---formulario para codigo de descuento-->

                                    <div class="userInfoDiv">
                                        <div class="mb-3 px-2">
                                            <label for="address">Codigo de descuento</label> <br />
                                            <textarea type="text" class="form-control" id="address"></textarea>
                                        </div>
                        <!---formulario para nota adicional-->

                                        <div class="mb-3 px-2">
                                            <label for="note">nota adicional</label> <br />
                                            <textarea type="text" class="form-control" id="note"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                                                    <!---footer de la ventana de compra-->

                            <div class="modal-footer">
                                <div class="totalAmountDiv"></div>
                          <!---BOTON DE CLEAR CART-->

                                <button type="button" class="btn btn-secondary" onclick="location.reload()">Cancelar</button>
                          <!---BOTON DE ORDENAR AHORA-->

                                <a class="btn btn-primary" onclick="openWhatsapp()"> Ordena ahora</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="momos" style="display: none">
                    <div class="row menuHeading">
                        <div class="col-12">
                
                            <h1>McDonalds</h1>
                        </div>
                        <span class="shoppingCart" data-toggle="modal" data-target="#exampleModal">
              <i class="fas fa-shopping-cart"></i>
              <span class="shoppingCartAfter">0</span>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="card">
                                <h2 class="card-title">hamburguesas</h2>
                                <div class="card-body">
                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="vegIcon" src="img/veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>80</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="vegIcon" src="img/veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>90</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="vegIcon" src="img/veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>115</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="vegIcon" src="img/veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>130</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="nonVegIcon" src="img/non-veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>90</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="nonVegIcon" src="img/non-veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>130</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="nonVegIcon" src="img/non-veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>140</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="nonVegIcon" src="img/non-veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>130</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-12">
                            <div class="card">
                                <h2 class="card-title">Bebidas</h2>
                                <div class="card-body">
                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                               Bebidas
                                                <span>
                          <img class="vegIcon" src="img/veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>125</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="vegIcon" src="img/veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>135</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="vegIcon" src="img/veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>145</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesas
                                                <span>
                          <img class="vegIcon" src="img/veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>160</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="nonVegIcon" src="img/non-veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>135</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                               Hamburguesa
                                                <span>
                          <img class="nonVegIcon" src="img/non-veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>155</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                                Hamburguesa
                                                <span>
                          <img class="nonVegIcon" src="img/non-veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>170</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <hr class="foodItemHr" />

                                    <div class="row foodItem">
                                        <div class="col-9 foodItemName">
                                            <p>
                                               Hamburguesa
                                                <span>
                          <img class="nonVegIcon" src="img/non-veg.jpg" alt="" />
                        </span>
                                            </p>
                                            <p class="text-muted-small"><i class="fas fa-rupee-sign"></i>155</p>
                                        </div>
                                        <div class="col-3 addCol">
                                            <span class="menuBtn minus"><i class="fas fa-minus"></i></span>
                                            <span class="quantity">0</span>
                                            <span class="menuBtn plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row checkOutRow">
                        <button type="button" class="btn knowMoreBtn" data-toggle="modal" data-target="#exampleModal">
              <i class="fas fa-shopping-cart"></i> Carrito
            </button>
                    </div>
                </div>

                <div id="chinese" style="display: none">
                    <div class="row menuHeading">
                        <div class="col-12">

    <!-- Footer empieza aqui -->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-9 footerHeadingCol">
                    <h2 style="font-family: 'elinga'; font-weight: 600; font-size: 3rem;">FLASHI</h2>

                </div>

                <div class="col-3 socialMedia">
                    <a href="#" class="socialMediaIcon">
                        <span><i class="fab fa-facebook-f"></i></span></a>
                    <a href="#" class="socialMediaIcon">
                        <span><i class="fab fa-twitter"></i></span></a>
                    <a href="#" class="socialMediaIcon">
                        <span><i class="fab fa-instagram"></i></span></a>
                    <a href="#" target="_blank" class="socialMediaIcon">
                        <span><i class="fab fa-linkedin"></i></span></a>
                </div>
            </div>


            <div class="row contactRow">
                <p>
                    <a class="footer_clickable" href="#">politica</a> |
                    <a class="footer_clickable" href="/terminos">Terminos de servicio</a> |
        
                    <a class="footer_clickable" href="/contacto">Contacto</a>

                </p>
            </div>
        </div>
    </footer>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="#"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="#"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="#"></script>
   
    <script src="https://kit.fontawesome.com/9f6e489cf7.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <script src="js/index.js"></script>
</body>


</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="js/index.js"></script>
</body>

</html>
