<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/loggin.css">
</head>
<body>
    
    <form >
            <p class="nombresCampos">Usuario</p><input class="formTexto" type="text">

            <p class="nombresCampos" >Contraseña</p><input class="formTexto" type="text">

            
            <input id="submit" type="submit" value="Entrar">
            <br>

            <a href=""><button>Registrarse</button></a>



    </form>


</body>
</html>