<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/noUsuario.css">
</head>
<body>

    <main>

        <div id="headCompleto">

                <div id="menu" class="containers">

                        <div id="nombreLogo" class="elementoMenu">

                                <div id="containerLogo">
                                    <img id="logo" src="../public/img/logo.png" alt="">


                                </div>


                                <div id="containerNombre">

                                    <h2 id="nombre">Flashi</h2>


                                </div>


                        </div>



                        <div id="opcionesMenu" class="elementoMenu">

                                <div class="opciones">
                                   <a class="opcion" href=""><h2 >Acerca de Nosotros</h2></a>


                                </div>


                                <div class="opciones">
                                    <a class="opcion" href="contacto.ejs"><h2 >Contacto</h2></a>

                                </div>


                                <div  class="opciones">

                                    <a class="opcion" href=""><h2 >Terminos y Condiciones</h2></a>

                                </div>



                        </div>




                </div>





                <div id="containerBotomIniciarSesion" class="containers">

                        <div id="subContainerBotomIniciarSesion">
                                    <div id="EnviosTodoElPais">


                                            <h2>Envios a <br> Todo El <br> País.</h2>


                                    </div>

                                    
                                    
                                    <div id="contenedorBotom">

                                        <button  id="botom">
                                           <a style="font-family: 'Pacifico';color:white ;" href="loggin.ejs">Iniciar Sesion</a> 
                                        </button>


                                    </div>


                        </div>



                </div>




                <div id="contenedorDeRestaurantes" class="containers">

                        <div id="restaurantes">
                               <div id="EmpresasqueTrabajanConNosotros"> <h2>Marcas que Trabajan Con Nosotros</h2>
                               </div>


                               <div id="empresas">
                                    <img id="mD" class="logosEmpresas" src="../public/img/md.png" alt="">
                                    <img id="bK" class="logosEmpresas" src="../public/img/bk.png" alt="">
                                    <img id="kfc" class="logosEmpresas" src="../public/img/kfc.png" alt="">


                               </div>


                        </div>




                </div>




                <div id="aboutOf" class="containers">

                    <div id="allInformation">
        
                            <div class="containersInfo" id="sobreFlashi">
                                    <div class="nombres">
                                        <h2>Sobre Flashi</h2>
        
                                    </div>
        
                                    <div .links>
        
                                        <a class="items" href="">Contacto</a><br>
                                        <a class="items" href="">Politicas de Privacidad</a> <br>
                                        <a class="items" href="">Terminos y Condiciones</a>
        
        
                                    </div>
        
                            </div>
        
                            <div class="containersInfo" id="uneteFlashi">
        
                                <div class="nombres">
                                    <h2>Unete a Flashi</h2>
        
                                </div>
        
                                <div .links>
                                        <a class="items" href="">Registra tu Restaurante</a><br>
                                        <a class="items" href="">Trabaja con Nosotros</a> <br>
                                        <a class="items" href="">Conviertete en Flashienvio</a>
        
        
                                </div>
        
                            </div>
        
                            <div class="containersInfo" id="Paises">
                                <div class="nombres">
        
                                    <h2>Paises</h2>
                                    
        
                                </div>
        
                                <div id="paises">
                                    <form>
                                        <select id="selectPaises">
                                            <option value="">Argentina</option>
                                            <option value="">Bolivia</option>
                                            <option value="">Paraguay</option>
                                            <option value="">Brasil</option>
                                            <option value="">Perú</option>
                                        </select>
                                    </form>
        
        
                                </div>
        
                            </div>
        
                    </div>
        
        
                </div>


        </div>


    </main>
    
</body>
</html>