<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finalizar compra</title>
    <link rel="stylesheet" href="css/orden.css" />
    <link rel="stylesheet" href="../public/css/orden.css" />
   
    
  </head>

  <body>
    <div class="cont">
      <h1>Finalice su compra</h1>
      <form class="cf">
        <div class="half left cf">
          <input readonly name="cliente" type="text" id="input-name" placeholder="cliente" value="<%= cliente %>">
          <input readonly name="restaurante" type="text" maxlength=200 id="input-email" placeholder="empresa" value="<%= restaurante %>">
          <input readonly name="precio" type="float" id="input-subject" placeholder="precio" value="<%=precio%>" />
          
        </div>
        <div class="right cf">
          <textarea 
            readonly
            name="comida"
            type="text"
            id="input-message"
            placeholder="productos"
          ><%=comida%></textarea>
          <input type="submit" value="Enviar" formaction="../addPedido" formmethod="POST">
        </div>
        <a href="https://www.whatsapp.com/?lang=es">finalizar compra via whatsapp</a>
      </form>
    </div>
    <footer id="footer">
      </div>
    </footer>
  </body>
</html>
