<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/registrarse.css">
</head>
<body>

    <div id="main" >
        <div id="todoElRegistrase">
            <div id="logo_y_nombre" class="container">

                <div id="contenedorNombreLogo">

                        <div id="subContenedorLogoNombre">
                            <div id="contenedorLogo">
                                <img id="logo" src="../public/img/logo.png" alt="Logo de la página">

                            </div>

                            <div id="contenedorNombre">
                                <h2>Flashi</h2>
                            </div>
                        </div>

                </div>


            </div>


            <div id="registro" class="container">

                    <form id="contenedorForm">
                        <div id="formR">
                            <div id="inputTextos">
                                    <input placeholder="Nombre" type="text">
                                    <input placeholder="Apellido" type="text">
                                    <input placeholder="Dirección" type="text">
                                    <input placeholder="Correo" type="text">
                                    <input placeholder="Contraseña" type="text">
                            </div>

                            <div id="inputSubmit">
                            <input id="botomRegistrarse" type="submit" value="Registrarme">
                            </div>
                        </div>
                        <div id="yaTenesCuenta">

                                <a id="linkLoggin" href="loggin.ejs">¿Ya tenés cuenta? Inicia Sesion!</a>

                        </div>
                    </form>
            </div>
        

        </div>
        <div id="aboutOf" class="container">

            <div id="allInformation">

                    <div class="containersInfo" id="sobreFlashi">
                            <div class="nombres">
                                <h2>Sobre Flashi</h2>

                            </div>

                            <div .links>

                                <a class="items" href="">Contacto</a><br>
                                <a class="items" href="">Politicas de Privacidad</a> <br>
                                <a class="items" href="">Terminos y Condiciones</a>


                            </div>

                    </div>

                    <div class="containersInfo" id="uneteFlashi">

                        <div class="nombres">
                            <h2>Unete a Flashi</h2>

                        </div>

                        <div .links>
                                <a class="items" href="">Registra tu Restaurante</a><br>
                                <a class="items" href="">Trabaja con Nosotros</a> <br>
                                <a class="items" href="">Conviertete en Flashienvio</a>


                        </div>

                    </div>

                    <div class="containersInfo" id="Paises">
                        <div class="nombres">

                            <h2>Paises</h2>
                            

                        </div>

                        <div id="paises">
                            <form>
                                <select id="selectPaises">
                                    <option value="">Argentina</option>
                                    <option value="">Bolivia</option>
                                    <option value="">Paraguay</option>
                                    <option value="">Brasil</option>
                                    <option value="">Perú</option>
                                </select>
                            </form>


                        </div>

                    </div>

            </div>


        </div>


    </div>
    
</body>
</html>