@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*   Lobster  */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

/* Pacifico    */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Pacifico&display=swap');

/*    Luckiest Guy  */

:root{
    --bp:none;
    --bf:1px solid black;
}


*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
    font-family: sans-serif;
}

main{
    width: 100%;
    height: 100%;
    border: var(--bp);
}

#headCompleto{
    width: 100%;
    height: 60vh;
    border: var(--bp);
  
    background-repeat: no-repeat;
    background-size: 100% 130%;
    
}

.containers{
    border: var(--bp);
    width: 100%;
    display: flex;
}

#menu{
    height: 20%;
    justify-content: space-between;
    align-items: center;
}

#containerBotomIniciarSesion{
    background-image: url(/public/img/chiken.webp);
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    padding: 8%;
    
}

.elementoMenu{
    height: 80%;
    border: var(--bp);
}

#nombreLogo{
    width: 25%;
    display: flex;
}

#opcionesMenu{
    width: 40%;
    background-color: azure;
}

#subContainerBotomIniciarSesion{
    height: 80%;
    width: 20%;
    border: var(--bp);
}


#EnviosTodoElPais{
    width: 100%;
    height: 70%;
    border: var(--bp);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster';
    font-size: 2.5vw;
    color: rgb(0, 0, 0);
}


#contenedorBotom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30%;
    border: var(--bp);
}

#botom{
    width: 80%;
    height:70%;
    border-radius: 50px;
    background-color: rgb(255, 145, 0);
    color: white;
    font-family: 'Pacifico';
    font-size: 2.2vw;
    cursor: pointer;
}


#containerLogo{
    height: 100%;
    width: 30%;
    border: var(--bp);
}

#logo{
    width:115%;
    height: 120%;
}
#containerNombre{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    
}
#nombre{
   color: rgb(12, 0, 0);
        font-weight: 600;
        font-size: 56px ;
        font-family: 'Urbanist', sans-serif;
      }
}

#opcionesMenu{
    display: flex;
    justify-content: space-between;
    width: 50%;

}


.opciones{
    height: 100%;
    border: var(--bp);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
}

a:hover{
    color: rgb(252, 2, 2);
    transform: scale(1.2);
}

#contenedorDeRestaurantes{
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--bp);
    height: 70vh;
    background-color: #f8f1ef;
}

#restaurantes{
    height: 80%;
    width: 70%;
    border: var(--bp);
}

#EmpresasqueTrabajanConNosotros{
    border: var(--bp);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    font-size: 1.5vw;

}

#empresas{
    height: 75%;
    width: 100%;
    display: flex;
   
}

.logosEmpresas{
    height: 100%;
    width: 100%;
  padding-right: 8%;
}

/* #mD{
    width: 25%;
}

#bk{
    width: 45%;
}
#kfc{
    width: 45%;
} */

#aboutOf{
    background-color: #000000;
    height: 20%;
    display:flex;
    justify-content:center;
    color: white;
    padding: 8%;
    }

#allInformation{
        width: 60%;
        border: var(--bp);
        display: flex;
        justify-content: space-between;
    
    }

    .containersInfo{
        height: 100%;
        width: 30%;
        border: var(--bp);
        display: flex;
        flex-direction:column;
    }
    
    .nombres{
        border: var(--bp);
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5vw;
        padding: 1%;
    }

    .items{
        text-decoration: none;
        margin-left: 10%;
        color: rgb(255, 255, 255);
        font-size: 1.2vw;
    }
    
    .items:hover{
        text-decoration: underline;
        margin-left: 25%;
        color: rgb(235, 142, 21);
    }

    #paises{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100%;
    }
    
    #selectPaises{
        width: 120%;
    
    }

#kfc{
    width: 35%;
}
#proximamente{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.title{background-color: #000000;
color: white;
padding: 2%;
font-size: 310%;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
margin-bottom: 12%;
margin-top: 8%;
}